<ion-view title="{{driver.LicensePlate}}">
        <ion-content class="padding" has-bouncing="false">
             <h3>{{driver.Title}}</h3>
             <label>{{driver.CreatedAt | date : "mediumDate"}}</label>
            <div class="row">
                <div class="col">
                    <img data-src="{{driver.Picture}}" class="resimgs driverPicture" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button ng-hide="driver.HasAppology" class="button button-calm button-block" ui-sref="tabs.appologize({incidentId : driver.Id})">Извини се</button>
                    <h4 ng-show="driver.HasAppology">Шофьора се е извинил и oчаква одобрение. Браво!</h4>
                </div>
            </div>
        </ion-content>
</ion-view>