<ion-view title="{{driver.LicensePlate}}">
        <ion-content class="padding" has-bouncing="false">
             <h3 class="">{{driver.Title}}</h3>
             <p>{{driver.CreatedAt | date : "mediumDate"}}</p>
            <div class="row">
                <div class="col">
                    <img data-src="{{driver.Picture}}" class="resimgs driverPicture" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button ng-hide="driver.HasAppology" class="button button-light button-block" ui-sref="tabs.appologize({incidentId : driver.Id})">
                        Извини се
                    </button>
                    <label ng-show="driver.HasAppology">Шофьора се е извинил и oчаква одобрение. Браво!</label>
                </div>
            </div>
        </ion-content>
</ion-view>