
<ion-tabs class="tabs-assertive tabs-icon-top">
        <ion-tab title="Начало" ui-sref="tabs.home" icon-on="ion-ios7-camera" icon-off="ion-ios7-camera-outline">
          <ion-nav-view name="home-tab" ></ion-nav-view>
        </ion-tab>

        <ion-tab title="Граждани" ui-sref="tabs.gallery" icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline">
          <ion-nav-view name="gallery-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Радар" ui-sref="tabs.notifications" icon-on="ion-ios7-world" icon-off="ion-ios7-world-outline">
          <ion-nav-view name="notifications-tab"></ion-nav-view>
        </ion-tab>
</ion-tabs>