<ion-content has-bouncing="false" class="splash">
     <div class="loginWrapper">

            <div class="row row-top">
                 <div class="col">
                    <h2 class="title">Гражданите</h2>
                    <h4 class="subtitle">Снимай и покажи всеки "Гражданин" на пътя.</h4>
                 </div>
            </div>
            <div>
                <div class="row">
                    <div class="col">
                       <button class="button button-light button-block ion-social-facebook icon-left" ng-click="registerWithFacebook()">Регистрация с Facebook</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-light button-block ion-email icon-left" ng-click="registerWithEmail()">Регистрация с Email</button>
                    </div>
                </div>
            </div>
      </div>
</ion-content>
<ion-footer-bar align-title="center" class="bar-light">
    <div class="title">
        <a>Вече имаш регистрация?</a>
    </div>
      
</ion-footer-bar>