<ion-content has-bouncing="false" class="splash">
             <form>
                <div class="row">
                        <small>Email</small>
                    <input ng-model="newUser.email" type="text" required name="email" />
                </div>
                <div class="row">
                     <small class="error" ng-show="newEntryForm.title.$error.maxlength">
                         Послание е по-дълго от 100 символа:</small>
                    <textarea placeholder="Бързай бавно..." ng-model="newDriver.Title" required ng-maxlength="100" name="title"></textarea>
                </div>
                <div class="row">
                        <button class="button button-calm button-block" id="btnSelectPhoto" ng-click="onSavePhoto(newDriver, reportKat);">Дай му "гражданство"</button>
                </div>
            </form>
</ion-content>