<ion-view view-title="Снимка" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="onCancelUpload()">Откажи</button>
    </ion-nav-buttons>
    <ion-content class="padding" has-bouncing="false">

        <form name="newEntryForm">
            <div class="uploadOne">
                <img ng-src="{{selectedPicture}}" class="driverPicture" />
            </div>
            <div class="uploadTwo">
                <small class="error">Регистрационен номер</small>
                <strong>(EN):</strong>
                <input class="LicensePlate" placeholder="CA0000HT" ng-model="newDriver.LicensePlate" type="text" required name="license" />
            </div>
            <div class="uploadThree">
                <small class="error" ng-show="newEntryForm.title.$error.maxlength">
                    Послание е по-дълго от 100 символа:
                </small>
                <small class="error">
                    Послание до 100 символa:
                </small>
                <textarea placeholder="Бързай бавно..." ng-model="newDriver.Title" required ng-maxlength="100" name="title"></textarea>
            </div>
            <div class="uploadFour">
                <small>
                    Избери нарушения:
                </small>
                <select multiple="multiple" ng-model="newDriver.SelectedTags" class="ion-input-select" ng-options="tag.Name for tag in tagsCloud">
                </select>
            </div>
            <div>
                <div class="row no-padding" ng-show="canSendReportToKat">
                    <div class="col col-10 no-padding">
                        <input ng-model="reportKat" type="checkbox"></input>
                    </div>
                    <div class="col col-90 no-padding">
                        <small>При неправилно паркиране може да изпрати сигнал до КАТ</small>
                    </div>
                </div>
                <button class="button button-calm button-block" id="btnSelectPhoto" ng-click="onSavePhoto(newDriver, reportKat);">Дай му "гражданство"</button>
            </div>
        </form>
    </ion-content>
</ion-view>
