
<ion-view title="Гражданите">
        <ion-content class="padding" has-bouncing="false">
       
      <div class="homeOne">
          <label>Снимай и покажи всеки "гражданин" на пътя!</label>
      </div>
      <div class="homeTwo">
          <label>"Няма нищо по-опасно от глупака, който се опитва да играе ролята на умен." Йохан Гьоте</label>
      </div>
      <div class="homeThree">
          <div class="leftBox">
               <button class="button button-stable" id="btnCamera" ng-click="onCameraClick()">
                    Направи снимка
                </button>
          </div>
         <div class="rightBox">
              <button class="button button-stable" id="btnSelectPhoto" ng-click="onSelectPhotoClicked()">
                    Избери снимка
                </button>
         </div>
      </div>   
    
</ion-view>
