<ion-view view-title="{{driver.LicensePlate}}">
        <ion-content has-bouncing="false" class="padding">
        <form name="newAppology">
                <div class="item item-input item-stacked-label">
                     <small class="input-label" ng-show="newAppology.title.$error.maxlength">
                         Извинението е по-дълго от 200 символа:</small>
                     <small class="input-label" ng-show="newAppology.title.$error.required">
                         Извинение до 200 символa:</small>
                    <textarea placeholder="Извинявам се..." ng-model="appologyText" required ng-maxlength="200" name="title"></textarea>
                </div>
                 <button class="button button-calm button-block" ng-click="appologize(driver.Id, appologyText);">
                        Изпрати извинение
                 </button>
            </form>
        </ion-content>
</ion-view>