@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,700,400,600&subset=latin,cyrillic-ext");


body, textarea, select,small {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #52575c;
    line-height: 1.75em;
    font-size: 15pt;
}

input, input[type="text"] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #52575c;
    line-height: 1.75em;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #52575c;
}

.homeOne {
    height: 200px;
    width: auto;
    padding: 0 0 0 0.5em;
}

    .homeOne label {
        font-size: 26px;
        font-family: 'Open Sans', sans-serif;
    }

.homeThree {
    height: 200px;
    text-align: center;
}

.leftBox {
    float: left;
    margin-left: 0.1em;
}

.saveButton {
    font-weight: 400;
}

.rightBox {
    float: right;
    margin-right: 0.1em;
}

.uploadOne {
}

.driverPicture {
        width: 100%;
}

.uploadTwo {
    margin-bottom: 10px;
}

.uploadThree {
    margin-bottom: 10px;
}

    .uploadThree textarea {
        height: 150px;
    }

.uploadFour {
    text-align: center;
}

.driverTitle h2 {
    white-space: normal;
}

.viewCounter {
    text-align:right;
}

.imageGallery{
    margin:5px;
}
    .imageGallery h2 {
        font-weight: bold;
    }
    .imageGallery h3 {
        font-weight: bold;
    }

.imageHeader {
    background: rgba(255,255,255,0.75);
    position:absolute;
    top:-1px;
}

.imageHeader h2{
    color:black;
}

.imageFooter {
    background: rgba(255,255,255,0.75);
    position:absolute;
    bottom:-1px;
}

.imageFooter h3 {
   white-space:pre;
   text-align:left;
}
.imagePreview {
    min-height: 210px;
    width: auto;
    z-index:-10;
}

.iconItem {
    width:auto !important;
    display:inline-block;
    float:left;
    margin-right:3px;
}

.itemElementLeft {
    text-align:left;
    padding:0;
}

.itemElementRight {
    text-align:right;
    padding:0;
    margin:3px 5px 0px 5px;
}

.itemRight {
}

.LicensePlate {
    text-transform: uppercase;
}

input::-webkit-input-placeholder {
  text-transform: none;
}

.tab-item.tab-item-active{
    color: #55acee; 
}

.tab-item {
    color: grey;
    font-weight: 500;
    margin: -1px;
}

.bar.bar-calm .title {
color: white;
font-weight: 500;
}

.bar.bar-calm {
border-color: #1A88EE;
background-color: #1A88EE;
background-image: linear-gradient(0deg, #1aacc3, #1aacc3 50%, transparent 50%);
color: #1A88EE;
}
